<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SaipherConnectionString" connectionString="Data Server=.\SQLEXPRESS05;Database=Saipher;Integrated Security=SSPI" 
         providerName="System.Data.SqlClient"/>
    <!--<add name="SaipherConnectionString" connectionString="Data source=localhost\SQLEXPRESS05;Database=Saipher;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>-->
    <!--<add name="SaipherConnectionString" connectionString="Server=DESKTOP-MKNGU84\SQLEXPRESS05;Database=Saipher;" providerName="System.Data.SqlClient" />-->
    <!--<add name="SaipherConnectionString" connectionString="data source=tcp:192.168.0.106,1433;initial catalog=Saipher;user id='Jefferson Morais';password=210896jn;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="SaipherConnectionString" connectionString="data Server=.\sqlexpress;Database=Saipher;user id='Jefferson Morais';password=210896jn;Trusted_Connection=true;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>